
.wrap{
	margin: 0 auto;
	height: 1000px;
	width: 500px;
	background-color: red;
}

.title{
	height: 50px;
	width: 500px;
	background-color: #DAE0EF;
	display: table;
	position: absolute;

}

.controller{
	line-height: 50px;
	width: 400px;
	background-color: green;
	text-align: center;

}

.controllder button{
	width: 50px;
	display: inline-block;
}


.content{
	height: 400px;
	width: 500px;
	background-color: yellow;
}

.calendar_wrapper{
	height: 400px;
	width: 400px;
	background-color: blue;
}

#calendar{
	width: 390px;
	height: 400px;
	background-color: white;
	position: absolute;
	top: 50px;
	font-size: 60%;

}


/*.nav li a{
	text-decoration: none;

}
